@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@media (max-width: 320px) {

    .links {
        padding: 0 10px;
    }

    .links a {
        width: 100%;
    }

    .informations p {
        font-size: 10px;
    }
}

body {
    min-height: 100vh;
    background-color: var(--color04);
    font-family: var(--font);
}

:root {
    --color01: hsl(75, 94%, 57%);
    --color02: hsl(0, 0%, 20%);
    --color03: hsl(0, 0%, 12%);
    --color04: hsl(0, 0%, 8%);

    --font: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.perfil_box {
    background-color: var(--color03);
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.perfil_box img {
    width: 100%;
    max-width: 100px;
    height: auto;
    display: block;
    margin: 50px auto 30px auto;
    border-radius: 50px;
}

.informations {
    text-align: center;
    color: white;
    font-family: var(--font);
}

.informations h1 {
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
}

.informations h2 {
    padding-bottom: 25px;
    color: var(--color01);
    font-size: 15px;
}

.informations p {
    color: rgba(255, 255, 255, 0.89);
    font-size: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 320px;
    margin: 25px auto 40px auto;
}

.links a {
    background-color: var(--color02);
    margin: 8px 0px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.5s;
}

.links a:hover {
    background-color: var(--color01);
    color: black;
}